* {
    background-color: aqua;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gridBtn {
    font-size: x-large;
    background-color: white;
}

#container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 150px;
}

.squares {
    border: 1px solid black;
    background-color: white;
}